#counter {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 27%;
  z-index: 1;
  .products-button {
    color: #fff;
    font-size: 2rem;
    &:hover {
      color: #eee;
    }
    &:focus {
      color: #efefef;
    }
  }
  .col-sm-4 {
    border-right: 1px solid #ffffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    &:last-child {
      border-right: none;
    }
    &:nth-child(3n) {
      border-right: none;
    }
    .rtl & {
      border-left: 1px solid #ffffff;
      &:last-child {
        border-left: none;
      }
      &:nth-child(3n) {
        border-left: none;
      }
    }
  }
  .counter-overlay {
    width: 100%;
    height: 100%;
    //background: url('../images/patterns/footer.png');
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
  }
  .counter-number {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    line-height: 0.9;
    font-weight: 900;
    font-size: 50px;
    color: #ffffff;
  }
  .counter-description {
    width: 100%;
    line-height: 2.25;
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .widget_illdy_counter {
    margin-top: 40px;
    &:nth-child(1) {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(3) {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  #counter {
    .col-sm-4 {
      border-right: none;
    }
    .widget_illdy_counter {
      &:nth-child(1) {
        margin-top: 0;
      }
      &:nth-child(2) {
        margin-top: 40px;
      }
      &:nth-child(3) {
        margin-top: 40px;
      }
    }

    .col-xs-12 {
      padding: 20px 15px;
      border: none;
      border-bottom: 1px solid #fff;
      &:last-child {
        border: none;
      }
    }
  }
}