.info-of-today {
  position: relative;
  padding-top: 1rem;
  .container {
    //min-height: 34rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
  }
  .row {
    align-items: center;
    //border: 2px solid;
    //border-radius: 2rem;
    overflow: hidden;
    //background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    //margin: 3rem 1.5rem;
  }
  .iot-image {
    img {
      width: 100%;
    }
  }
  .iot-headline {
    margin-bottom: 1rem;
    .badge {
      font-weight: normal;
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      background-color: rgba($primary, 0.65);
    }
  }
  .iot-content {
    text-align: left;
    .rtl & {
      text-align: right;
    }
    .iot-title {
      color: #fff;
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
    .iot-data {
      font-size: 1.2rem;
      color: #fff;
      padding: 0 1.5rem 0 0.75rem;
      margin-bottom: 2rem;
      .rtl & {
        padding: 0 .75rem 0 1.5rem;
      }
    }

  }
}

.typed-cursor {
  opacity: 1;
  color: #ddd;
  margin-right: 3px;
  font-weight: 100;
  /*s-webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;*/
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}