#slider-section {
  background: url("../images/patterns/footer.png") 0 0 repeat;
  padding: 3rem 0;
  .header-quick {
    //min-height: 100px;
    //padding: 15px 0;
    //background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    height: 30rem;
    @include media-breakpoint-down(sm) {
      height: auto;
      .news-section {
        height: 32rem;
        .header-news-carousel .owl-item .news-item-details {
          /*.btn {
            height: 33px !important;
            padding: 6px 12px !important;
            visibility: visible !important;
            opacity: 1 !important;
          }*/
          .news-description {
            height: 0 !important;
          }
        }
      }
    }
    .quick-section {
      //background-color: rgba(0, 0, 0, 0.65);
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      text-align: left;
      .rtl & {
        text-align: right;
      }
      &.news-section {
        overflow: hidden;
        padding-right: .5rem;
        .rtl & {
          padding-right: 0;
          padding-left: .5rem;
        }
        .header-quick-title {
          color: #fff;
          background-color: #016533;
        }
      }
      &.info-section {
        .header-quick-title {
          color: #fff;
          background-color: rgba(37, 74, 0, 0.65);
        }
      }
      &.thought-section {
        .header-quick-title {
          color: #59af30;
          background-color: #eee;
        }
      }
      &.event-section {
        grid-area: onthisday;
        .header-quick-title {
          color: #fff;
          background-color: rgba(135, 86, 23, 0.65);
        }
      }
    }
    .header-quick-title {
      text-align: center;
      //position: absolute;
      z-index: 50;
      padding: 0.5rem 1rem;
      margin: 0;
      //border-radius: 0 0 0 1rem;
      background-color: rgba(255, 255, 255, 0.65);
      color: #000;
      font-size: 1rem;
      .fa {
        margin-left: 0.8rem;
      }
    }

    .header-news-carousel {
      flex: 1;
      .news-carousel-item {
        display: none;
      }
      &.owl-loaded {
        .news-carousel-item {
          display: block;
        }
      }
      .owl-stage-outer, .owl-stage {
        height: 100%;
      }
      .owl-item {
        height: 100%;
        .news-carousel-item {
          height: 100%;
          background: no-repeat center;
          -webkit-background-size: cover;
          background-size: cover;

          .news-item-details {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1.4rem 2.3rem 1.8rem;
            width: 100%;
            /* height: 30%; */
            background: rgba(255, 255, 255, 0.75);
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            @include media-breakpoint-down(sm) {
              padding: 1.4rem 2rem 1.8rem;
            }
            .rtl & {
              left: auto;
              right: 0;
            }
            .post-meta-time {
              color: #666;
            }
            h3 {
              color: #016533;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 2rem;
              max-height: 6rem;
              overflow: hidden;
            }
            .news-description {
              -webkit-transition: 0.2s;
              -moz-transition: 0.2s;
              -ms-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              height: 0;
              overflow: hidden;
              color: #222;
              visibility: hidden;
              opacity: 0;
            }

          }
          &:hover {
            .news-item-details {
              .btn, .news-description {
                visibility: visible;
                opacity: 1;
              }
              .news-description {
                height: 75px;
              }
            }
          }
        }
      }

      .owl-controls {
        .owl-prev, .owl-next {
          position: absolute;
          top: 50%;
          padding: 5px 10px;
          color: #efefef;
          text-shadow: 0 0 10px #000;
          font-size: 2rem;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.85);
          }
        }
        .owl-prev {
          right: 0;
          border-radius: 50% 0 0 50%;
        }

        .owl-next {
          left: 0;
          border-radius: 0 50% 50% 0;
        }
      }
    }

    .thought-section {
      //height: 100%;
      position: relative;
      @include media-breakpoint-down(xs) {
        height: 25rem;
      }
      .qt-image {
        flex: 1;
        overflow: hidden;
        background-color: #eee;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 95%;
          position: relative;
        }
      }
      .qt-content {
        padding: 1.4rem 1.4rem 1.8rem;
        width: 100%;
        /* height: 30%; */
        background: #eee;
        h3 {
          margin: 0 0 0.5rem 0;
          font-size: 1.25rem;
          font-weight: bold;
          color: #59af30;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 1rem;
          color: #555;
        }
        .btn {
          transition: 0.2s;
          height: 0;
          overflow: hidden;
          padding: 0 12px;
        }
      }
      &:hover {
        .btn {
          height: 33px;
          padding: 6px 12px;
        }
      }
    }
  }
}