.services-section {
  padding: 75px 16px;
  .section-title {
    color: $primary-light;
  }
  .service-items-list {
    display: flex;
  }

  .row {
    margin-right: -8px;
    margin-left: -8px;
    [class*="col-"] {
      padding: 0 8px;
    }
  }

  .service-item {
    border: 1px solid $primary-light;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 148px;
    color: #000;
    transition: background 0.3s, transform 0.1s ease-in-out;
    position: relative;
    background: $primary-light;
    background: linear-gradient(
                    -70deg,
                    rgba($white, 0) 0,
                    $white 33.33%,
                    $white 66.66%,
                    rgba($primary-light, 1) 66.67%
    ) 200% 0;
    background-repeat: no-repeat;
    background-size: 220%;
    .rtl & {
      background: linear-gradient(
                      -110deg,
                      rgba($primary-light, 1) 33.33%,
                      $white 33.34%,
                      $white 50%,
                      rgba($white, 0) 66.67%
      ) -100% 0;
      background-repeat: no-repeat;
      background-size: 220%;
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background-position: 0 0;
      .rtl & {
        background-position: 100% 0;
      }
      color: $white;
      transform: scale(1.15);
      z-index: 9;
      outline: none;
      box-shadow: 0 0 40px rgba(150, 150, 150, 0.75);
      h3 {
        color: inherit;
      }
    }

    .item-text {
      padding: 16px 30px;
    }
    .item-image {
      align-self: flex-end;
      img {
        max-height: 100%;
      }
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      color: $primary-dark;
    }
    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}
