#header {
  width: 100%;
  background: transparent center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  /*&.header-front-page {
    min-height: 100%;
    //max-height: 1000px;
    //min-height: 650px;
  }*/
  .top-header {
    width: 100%;
    padding: 0;
    border-top: 0 solid;
    height: 3.5rem;
    background-color: #fff;
    transition: border 0.3s, height 0.3s, padding 0.3s;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

    .logo-image {
      height: 55px;
      width: 110px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      .header-logo {
        display: block;
        font-size: 38px;
        color: #ffffff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 100%;

        &:hover {
          color: #52944E;
          text-decoration: none;
        }

        &:focus {
          outline: none;
        }

        img {
          height: 100%;
          display: block;
        }
      }
    }

    .navigation-wrapper {
      margin: 0 16px;
      flex: 1;
    }


    &.transparent-nav {
      padding-top: .5rem !important;
      border-top: 1rem solid #4e3a84;
      height: 5.5rem;

    }

  }

  &.sticky {
    position: fixed;
    top: 0;
    z-index: 90;

    .admin-bar & {
      top: 32px;
      @include media-breakpoint-down(md) {
        top: 46px;
      }
    }

    &.header-front-page {
      padding: 0;
    }

    .top-header {
      &.fixed {
        .open-responsive-menu {
          padding: 0.8rem 1rem;
        }
      }
    }
  }

  .open-responsive-menu {
    display: none;
  }

}

.header-navigation {
  padding: 0;
  position: relative;
  height: 3.5rem;
  width: 100%;
  transition: all 0.5s;
}

.download-header-image {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #efefef;
  font-size: 0.9rem;
  height: 30px;
  overflow: hidden;
  transition: all 0.4s;
  direction: ltr;
  padding: 5px 15px;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
  }

  span {
    font-size: 1.2rem;
    vertical-align: middle;
    transition: all 0.5s;
  }
}

@include media-breakpoint-up(md) {
  .responsive-menu {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  #header {
    .top-header {
      .header-logo {
        img {
          max-width: 320px;
        }
      }

      .header-navigation {
        display: none;
      }
    }

  }
  .open-responsive-menu {
    height: 3.5rem;
    background: 0 0;
    border: none;
    outline: 0;
    display: block !important;
    float: left;
    position: relative;
    z-index: 999996;

    &:focus {
      outline: none;
    }

    .bar1, .bar2, .bar3 {
      width: 27px;
      height: 3px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change {
      .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-7px, 5px);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-7px, -6px);
      }
    }

  }
  .responsive-menu {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0;
    display: block;
    position: fixed;
    z-index: 995;
    top: 0;
    right: -100%;
    overflow: hidden;
    pointer-events: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    .responsive-menu-overlay {
      position: fixed;
      top: 3.5rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      pointer-events: auto;
    }

    .responsive-menu-content {
      border-top: 1rem solid #016533;
      width: 80%;
      height: 100%;
      overflow-y: auto;
      background-color: #fff;
      margin: 0;
      padding: 0;
      position: relative;
      pointer-events: all;

      .responsive-menu-search {
        height: 4rem;
        background: #efefef;
        position: relative;

        input {
          height: 100%;
          width: 100%;
          border: none;
          border-bottom: 1px solid #eee;
          padding: 1rem 4rem 1rem 1rem;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }

        .sbutton {
          position: absolute;
          top: 50%;
          right: 0;
          padding: 1rem 1.5rem;
          transform: translateY(-50%);
        }
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          width: 100%;
          position: relative;

          a {
            width: 100%;
            padding: 15px 25px;
            display: block;
            border-bottom: 1px solid #e4e4e4;
            color: #000000;
            text-align: right;

            .fa {
              margin-left: 1rem;
            }
          }

          &.menu-item-has-children {
            cursor: pointer;

            &:after {
              content: '\f0d7';
              font-family: FontAwesome;
              font-size: 2rem;
              position: absolute;
              top: 0;
              left: 0;
              padding: 10px 20px;
            }

            .sub-menu {
              background-color: #efefef;
              display: none;
              list-style: none;
              padding: 0;

              li {
                a {
                  padding-right: 35px;
                  border-bottom: 1px solid #e0e0e0;
                }
              }
            }

            &.expanded {
              .sub-menu {
                display: block;
              }
            }
          }
        }
      }
    }

    &.active {
      //display: block;
      right: 0;

      .responsive-menu-overlay {
        opacity: 1;
        transition: opacity 0.4s 0.2s, top 0.2s;
        visibility: visible;
      }
    }
  }
  #header.page-start {
    .responsive-menu-overlay {
      top: 5.5rem !important;
    }
  }
}

@include media-breakpoint-down(xs) {
  .bottom-header {
    h2 {
      font-size: 40px;
    }
  }
}

::-moz-placeholder,
:-moz-placeholder,
::placeholder,
::-webkit-input-placeholder,
::-ms-input-placeholder {
  opacity: 1 !important;
  color: #bbb;
}

.bottom-header {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 75px;
  text-align: center;
  position: relative;
  background: transparent center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    //background: rgba(0, 0, 0, 0.3); // url("../images/patterns/pattern-2.png") 0 0 repeat;
    background: rgba(0, 0, 0, 0.75) center repeat;
    left: 0;
    top: 0;
    opacity: 0.75;
  }

  &.front-page {
    padding: 0; // 0 2rem;
    min-height: 22rem;
  }

  .cat-desc {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px #fff;
  }

  .top-page-title {
    margin: 2.5rem 0;
  }

  .header-button-one {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-button-two {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 3rem;

    margin: 0;
    line-height: 1.4;
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
  }

  span.span-dot {
    color: #3DA02C;
  }

  p {
    line-height: 1.6;
    margin-top: 30px;
    font-size: 15px;
    color: #ffffff;
  }

  .nav-tabs {
    margin: 40px 0 -40px 0;
    position: relative;

    .nav-link {
      color: #ccc;

      &:hover {
        color: #fff;
        border-color: #777 #777 #ddd
      }

      &.active {
        color: #333;
      }

      @include media-breakpoint-down(sm) {
        span {
          display: none;
        }
        &.active span {
          display: inline;
        }
      }
    }
  }
}

.bottom-header.blog {
  padding: 40px 0 40px;

  p {
    margin-bottom: 0;
  }
}


.page-heading {
  padding: 3rem 0;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
  }
}

@include media-breakpoint-down(md) {
  #wpadminbar { position: fixed; }
}
