$fa-font-path: "../fonts";
@import "~font-awesome/scss/font-awesome.scss";

/*$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #59af30;*/

$hover-green: rgba(0, 107, 16, 0.8);

@import "variables";
@import "my-bootstrap";

@keyframes moving {
  from {
    right: -50px;
  }
  to {
    right: 100%;
  }
}

html {
  width: 100%;
  height: 100%;
  display: block;
  direction: rtl;
}

body {
  width: 100%;
  min-height: 100%;
  display: block;
  direction: ltr;
  line-height: 1.5;
  background-color: #f1f1f1;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #222222;
  text-align: left;

  &.rtl {
    direction: rtl;
    text-align: right;
  }
}

@import "header.scss";

@import "front-page/about.scss";

@import "front-page/projects.scss";

@import "post-types/testimonials.scss";

@import "front-page/services.scss";

@import "front-page/latest_news.scss";

@import "front-page/counter.scss";

@import "pages/team.scss";

@import "pages/contactus.scss";

@import "footer.scss";

@import "pages/blog.scss";

@import "sidebar.scss";

@import "widgets.scss";

@import "extra.scss";

@import "post-types/comments.scss";

@import "front-page/latest_info.scss";

@import "post-types/info_list.scss";

@import "post-types/single-item.scss";

@import "post-types/single-photo.scss";

@import "pages/cats-page.scss";

@import "pages/search-page.scss";

@import "pages/socialmedia-page.scss";

@import "pages/lectures-page.scss";

@import "pages/content-page.scss";

@import "post-types/audio-post.scss";

@import "post-types/video-post.scss";

@import "pages/products-page.scss";

@import "pages/team-page.scss";

@import "front-page/main-slider.scss";

@import "front-page/header-info-of-today.scss";

@import "post-types/news-items.scss";

@import "post-types/single-book.scss";

@import "post-types/quizzes.scss";

@import "user-utils.scss";

@import "image-points.scss";

@import "bootstrap-select/bootstrap-select.scss";

@import "./pages/news-team.scss";

@import "./pages/faq.scss";

@import "./pages/wallpapers.scss";

@import "./owl.carousel/scss/owl.carousel.scss";
@import "./owl.carousel/scss/owl.theme.default.scss";

@import "./pages/aqsa-distance.scss";
@import "./pages/news-page.scss";

@import "./components/all";

@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

#blog {
  .info-details {
    h3.info-details-heading {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }

    p {
      margin-top: 0;
      color: #000;
    }
  }
}

$computer-color: #c2c5c5;

.laptop {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.screen {
  width: 85%;
  height: 600px;
  background-color: #333;
  border-width: 27px 27px 10px 27px;
  border-style: solid;
  border-color: black;
  border-radius: 28px 28px 0 0;
  box-shadow: 0 0 2px 2px $computer-color;
  transform-origin: 50% 100%;
  animation: close-computer linear 0.75s forwards;
  animation-delay: 4s;
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-down("sm") {
    height: 230px;
    border-width: 17px 17px 5px 17px;
    border-radius: 15px 15px 0 0;
  }
}

.keyboard {
  width: 100%;
  height: 27px;
  background: $computer-color;
  border-radius: 0 0 25px 25px;

  &:after {
    content: "";
    width: 20%;
    height: 15px;
    border-radius: 0 0 15px 15px;
    background: darken($computer-color, 15);
    display: block;
    margin: 0 auto;
  }

  @include media-breakpoint-down("sm") {
    height: 17px;
    border-radius: 0 0 8px 8px;
    &:after {
      height: 9px;
    }
  }
}

.wallpaper-post {
  background-size: cover;
  background-position: center center;
  padding-bottom: 3rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .container {
    position: relative;
  }

  .nav-link {
    color: $light;
  }
}

.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-shadow: 0 0 2px 2px $computer-color;
  background-size: cover;
  background-position: center center;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.btn.btn-outline-info.mixitup-control-active {
  background-color: $info;
  color: $white;
}
