.floating-button {
  position: fixed;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 50%;
  bottom: 1rem;
  left: 1rem;
  background-color: #78af35;
  z-index: 981;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 3rem;
    background-color: #7fb53d;
  }
  .fa.fa-spin {
    animation-duration: 5.5s;
  }
}