.news-list {
  &__item {
    margin-bottom: 20px;

    a {
      margin: 1rem 0;
      text-align: left;
      line-height: 1.4;
      font-weight: 700;
      font-size: 25px;
      color: #333333;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: block;
      .rtl & {
        text-align: right;
      }
    }

    .blog-post-image {
      width: 100%;
      min-height: 150px;
      max-height: 400px;
      overflow: hidden;
      text-align: center;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-post-meta {
      width: 100%;
      margin-bottom: 40px;
      line-height: 2.428;
      font-size: 14px;
      .post-meta-time {
        margin-right: 0;
        color: #888888;
      }
      .post-meta-comments {
        margin-right: 40px;
        color: #888888;
      }
      .fa {
        margin-left: 6px;
        color: #52944E;
      }
    }
  }
}