.news-team {
  h2 {
    font-weight: bold;
  }

  &__top {
    position: relative;
    background-image: url(../images/bg2.jpg);
    background-position: 50% 70%;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .85;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fece57+0,e29314+100 */
      background: rgb(254, 206, 87); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(254, 206, 87, 1) 0%, rgba(226, 147, 20, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(254, 206, 87, 1) 0%, rgba(226, 147, 20, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(254, 206, 87, 1) 0%, rgba(226, 147, 20, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fece57', endColorstr='#e29314', GradientType=0); /* IE6-9 */
    }

    .container {
      position: relative;
    }
  }

  &__stats {
    background-color: #404040;
    color: #fff;

    h2 {
      padding-top: 2rem;
      padding-bottom: 1rem;
      border-top: 13px double rgba(254, 206, 87, .5);
    }
  }

  &__image {
    height: 450px;
    background-image: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-position: center top;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  &__latest {
    padding: 3rem 0;
    margin-bottom: 3.5rem;


    h2 {
      margin-bottom: 2rem;
    }

    .post-image {
      min-height: 200px;
      background-color: #eee;
      width: 100%;
      background-size: cover;
    }

    .post-title {
      font-weight: bold;
      font-size: 1.3rem;
      margin: 1rem 0;
      display: block;
    }
  }
}

.news-stats {
  display: flex;
  margin: 0 3rem;
  justify-content: space-around;
  border-bottom: 13px double rgba(254, 206, 87, .5);
  padding: 3rem;

  @include media-breakpoint-down('sm') {
    flex-direction: column;
    &__item {
      margin-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;

    span {
      display: block;
      margin-bottom: 1.5rem;
    }

    .circle {
      font-size: 3.5rem;
      font-family: 'Lobster', cursive;;
      font-weight: bold;
      margin-bottom: 1.5rem;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.fill {
        background-color: #fff;
        color: #232323;
      }
      &.outline {
        border: 3px solid #fff;
      }
    }
  }
}