.team-member-card {
  text-align: center ;
  .card-img-top {
    height: 275px;
    object-fit: cover;
    object-position: 50% 0;
    @include media-breakpoint-down('sm') {
      height: 175px;
    }
  }
  .btn-link {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .card-title {
    font-weight: bold;
  }
  @include media-breakpoint-down('sm') {
  .card-body {
    padding: 1rem .5rem;
  }
    .card-title {
      font-size: 1.3rem;
    }
  }
}