.faq-heading {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0 8px;
  border-bottom: 1px solid $gray-400;
  margin-bottom: 20px;
  position: sticky;
  top: 56px;
  background-color: #fff;
  z-index: 5;
}

.faq-list {
  margin-top: 24px;
}

.faq-item {
  margin-bottom: 32px;
  font-size: 1.1rem;
  padding: 16px;

  &.expanded {
    background: $light;
  }

  .btn {
    text-align: right;
    display: flex;
    width: 100%;
    background: none;
    padding: 0 0 8px;
    border-bottom: 1px solid $gray-400;
    border-radius: 0;

    &:hover {
      border-bottom-color: $success;

      &:after {
        color: $success;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:after {
      content: '\f107';
      font-family: FontAwesome, "Open Sans", Arial, sans-serif;
      margin-right: auto;
      margin-left: 8px;
      color: $gray-400;
      transition: all .25s;
    }

    &[aria-expanded="true"]:after {
      transform: rotate(180deg);
    }
  }

  .faq-content {
    padding-top: 16px;
  }

  h2 {
    font-size: 1.25rem;
  }
}

.rtl {

  .dropdown-toggle::after {
    margin-left: 0;
    margin-right: .255em;
  }
}
