.lectures-header {
  height: 90vh;
  .row, .container {
    height: 100%;
  }
  .row {
    align-items: flex-end;
  }
}

#lectures {
  width: 100%;
  margin: 0;
  padding: 0;

  .section {
    &-group {
      display: flex;
      .section-item {
        flex: 1;
        min-width: 10%;
        padding: 2rem 1rem;
        &:first-child {
          padding-left: 8rem;
        }
        &:last-child {
          padding-right: 8rem;
        }
        .rtl & {
          &:first-child {
            padding-right: 8rem;
          }
          &:last-child {
            padding-left: 8rem;
          }
        }
      }
      @include media-breakpoint-down('sm') {
        flex-wrap: wrap;
        .section-item {
          flex: 1 1 100% !important;
          padding: 2rem 1rem !important;
        }
      }
    }
    &-item {
      position: relative;
      background: top no-repeat;
      background-size: cover;
      p {
        margin: 0;
      }
      .section-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(40,40,40,0.85);
      }
      .section-title {
        position: relative;
        color: #000;
        padding: 1rem 0.75rem;
        border-bottom: 1px solid #ddd;
        .rtl & {
          text-align: right;
        }
        h2 {
          font-weight: 800;
          font-size: 1.2rem;
          margin: 0;
        }
        .fa {
          margin-left: 0.25rem;
        }
      }
      .section-content {
        position: relative;
        color: #666;
        padding: 1rem;
        font-size: 1rem;
      }
      h2,.list {
        position: relative;
      }
      &.contact-section {
        flex: 0 0 40%;
      }
    }
    &-dark {
      background-color: #555;
      .section-title {
        color: #fff;
        border-color: #777;
      }
      .section-content {
        color: #eee;
      }
      a {
        color: #cbe8c7;
      }
    }
    &-baige {
      background-color: #b5af9b;
      .section-title {
        color: #383224;
        border-color: #a59f87;
      }
      .section-content {
        color: #3b3730;
      }
      a {
        color: #1c180e;
      }
    }
  }
  .entry-content {
    font-size: 1.25rem;
    text-align: center;
    width: 75%;
  }
  .social-icons {
    margin: 20px 5px;
  }
  .achievements {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
    .slideshow {
      text-align: center;
      h3 {
        margin: 0 0 1rem;
      }
      .grid-sizer, .grid-item {
        width: 25%;
        @include media-breakpoint-down(sm) {
          width: 50%;
        }
      }
      .grid-item {
        min-height: 100px;
        overflow: hidden;
        a, img {
          width: 100%;
        }
        a {
          display: inline-block;
          height: 100%;
        }
        img {
          border: 1px solid #fff;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
        }
        &:hover {
          img {
            -webkit-transform: scale(1.3) rotateX(20deg);
            -moz-transform: scale(1.3) rotateX(20deg);
            -ms-transform: scale(1.3) rotateX(20deg);
            -o-transform: scale(1.3) rotateX(20deg);
            transform: scale(1.3) rotateX(20deg);
          }
        }
      }
    }

  }
  .lectures-carousel {
    .owl-prev, .owl-next {
      display: inline-block;
      margin: 0 0.5rem;
      padding: 0.25rem 1rem;
      background-color: #ddd;
    }
  }

  &.front-page-section {
    padding: 60px 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    h3 {
      color: #444;
    }
    .lectures-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.75);
    }
    .list {
      ul {
        margin: 0;
        display: flex;
        padding: 0;
        li {
          list-style: none;
          display: block;
          padding: 10px 15px;
          font-size: 1.1rem;
          text-align: center;
          flex: 1;
          margin: 0 1rem 0;
          color: #333333;

          b {
            display: block;
            font-size: 2.5rem;
            width: 8rem;
            height: 8rem;
            margin: 0 auto 1.5rem;
            line-height: 8rem;
            border: 1px solid;
            border-radius: 50%;
          }
        }
        @include media-breakpoint-down(xs) {
          flex-wrap: wrap;
          li {
            margin: 0 0 2rem;
            //min-width: 100%;
          }
        }
      }
    }
  }
}
.section-achievements {
  display: flex;
  align-items: center;
  @include media-breakpoint-down('sm') {
    flex-wrap: wrap;
    h2 {
      flex: 1 100% !important;
    }
  }
  h2 {
    flex: 0 0 25%;
    color: #fff;
    text-align: center;
    .fa {
      display: block;
      margin: 0 auto 0.25rem;
    }
  }
  .list {
    flex: 1;
    ul {
      margin-top: 30px;
      display: flex;
      padding: 0;
      li {
        list-style: none;
        display: block;
        padding: 10px 15px;
        font-size: 1.2rem;
        text-align: center;
        flex: 1;
        margin: 0 1rem 2rem;
        color: #eee;

        b {
          display: block;
          font-size: 2.5rem;
          color: #fff;
          /*width: 8rem;
          height: 8rem;*/
          margin: 0 auto 1rem;
          //line-height: 8rem;
          //border: 1px solid;
          //border-radius: 50%;
        }
      }
      @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
        li {
          margin: 0 0 2rem;
          min-width: 100%;
        }
      }
    }
  }
}
.phone-num {
  display: inline-block;
  direction: ltr;
}