#socialmedia.container {
  width: 100%;
  padding: 15px;
  .entry-content {
    font-size: 1.2rem;
    text-align: center;
  }
  .social-icons {
    margin: 20px 5px;
    .icon-wrapper {
      padding: 8px;
    }

    .icon {
      border-radius: 5px;
      display: block;
      height: 10rem;
      width: 100%;
      padding-top: 1.25rem;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-box-shadow: inset 0px 0px 111px 35px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0px 0px 111px 35px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 111px 0px rgba(0, 0, 0, 0.3);
      @include media-breakpoint-down(xs) {
        &:nth-child(odd):last-child {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
      .sm-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        .sm-icon {
          font-size: 3rem;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }
        .sm-name {
          color: #fff;
          display: block;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      .sm-link {
        position: absolute;
        height: 3rem;
        bottom: -5rem;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 0.5rem 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        direction: ltr;
        text-align: center;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        a {
          color: #fff;
        }
      }
      &:hover {
        text-decoration: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        .sm-content {
          margin-top: -3rem;
        }
        .sm-link {
          bottom: 0;
        }
      }
    }
    .icon.facebook {
      background: #1778f2;
      i {
        color: #fff;
      }
    }
    .icon.twitter {
      background: #00ACED;
      i {
        color: #fff;
      }
    }
    .icon.instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      i {
        color: #fff;
      }
    }
    .icon.youtube {
      background: #C4302B;
      i {
        color: #fff;
      }
    }
    .icon.whatsapp {
      background: #4dc247;
      i {
        color: #fff;
      }
      .mobile-num {
        font-size: 1rem;
        font-weight: bold;
        direction: ltr;
      }
    }
    .icon.soundcloud {
      background: #F76700;
      i {
        color: #fff;
      }
    }
    .icon.askfm {
      background: #fe6648;
      i {
        background: url("../images/askfm-ico.png") no-repeat right;
        width: 51px;
        height: 51px;
        transition: none;
      }
    }
    .icon.messenger {
      background: #0084ff;
      i {
        color: #fff;
        background: url('data:image/svg+xml;utf8,<svg width="96" height="96" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;" stroke="null"><g stroke="null"><title stroke="null">background</title><rect stroke="null" fill="none" id="canvas_background" height="98" width="98" y="-1" x="-1"/></g><g stroke="null"><title stroke="null">Layer 1</title><path stroke="null" id="svg_2" fill="#fff" d="m47.500015,6.670822c-22.919849,0 -41.499985,17.310649 -41.499985,38.664582c0,12.167744 6.034768,23.02115 15.465833,30.108626l0,14.74229l14.130358,-7.803286c3.771086,1.05013 7.766168,1.616953 11.903794,1.616953c22.919849,0 41.499985,-17.310649 41.499985,-38.664582s-18.580136,-38.664582 -41.499985,-38.664582zm4.124222,52.068304l-10.568319,-11.341611l-20.621111,11.341611l22.683222,-24.229805l10.826083,11.341611l20.363347,-11.341611l-22.683222,24.229805z"/></g></svg>') no-repeat;
        width: 51px;
        height: 51px;
        background-size: cover;
      }
    }
    .icon.snapchat {
      background: #fffc00;
      i {
        color: #fff
      }
    }
    .icon.telegram {
      background: #0088cc;
      i {
        color: #fff
      }
    }
  }
}
